body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border-radius: 50%;
  width: 3rem;
  padding-bottom: 5px;
  /* height:; */
}

.form-label {
  float: left;
  margin-right: 10px;
  align-self: flex-start;
}

input {
  /* border: 0px !important;
  background: transparent !important; */
  /* width: 9.1rem !important; */
}

input {
  /* border: 0px !important;
  background: transparent !important; */
  /* width: 100% !important; */
}

select {
  width: 11rem !important;
}

/* .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
} */

/* .form-group {
  margin-bottom: 15px;
  display: flex;
} */

.form-group {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  flex-direction: column !important;
}

.Kanban-header {
  background: black;
  color: white;
  padding: 2px 0px;
  width: 238rem;
}

.kanban-board {
  display: flex;
  /* justify-content: space-around; */
  margin: 2rem 1.5rem;
  width: 140rem;
  /* overflow: scroll; */
}

.kanban-board-area {
  margin-left: 5rem;
  color: #1a730b;
  background: #0b93e6a3;
  /* padding: 12px 0px; */
  /*Newly Added*/
  height: 85rem;
}

.open-options {
  position: relative;
  z-index: 1;
  left: 34.5rem;
  bottom: 1rem;
  color: black;
  width: 0;
  padding: 0;
}

.loader {
  border: 4px solid black;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  border-bottom: 5px solid #1a8806;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.board-title {
  margin-top: -35px;
  padding: 10px;
}

.card-block {
  background: white;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
  margin-top: 15px;
  overflow: scroll;
}

.kanban-card {
  /* width: 18rem; */
  width: 24rem;
  padding: 10px;
  background: white; /* Newly Added */
}

.open-card-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: right;
}

.kanban-block {
  /**Do not delete this**/
  /* width: 30rem;
  background: #f3f4f4;
  padding: 12px;
  height: 100%; */

  width: 30rem;
  background: #f3f4f4;
  padding: 12px;
  height: 77%;
  margin: 2rem;
  overflow: scroll;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 5px;
}

/* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

.form-row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  width: 25.9rem;
}

.edit-button {
  position: fixed;
  top: 30px;
  left: 190px;
}

.task-list {
  margin-top: 3rem;
  margin-left: -4rem;
}

.task-block {
  display: flex;
  justify-content: space-between;
}

.task-item {
  width: 15rem;
  text-align: left;
}

.smart-buttons {
  cursor: pointer;
}

/* Overwriting classes */

.form-multi-group {
  display: flex;
  justify-content: space-between;
}

.form-multi-group > .form-group {
  width: 45%;
}

.form-group > img {
  align-self: center;
  width: 20%;
}

.dynamic-form-block {
  display: flex;
  flex-direction: column;
}

.dynamic-form-body {
  align-self: flex-start;
  width: 100%;
  text-align: left;
  height: 13rem;
  border: 2px solid darkgreen;
  border-radius: 5px;
  overflow: scroll;
}

.editable-left {
  border: 0;
  background: transparent;
  text-align: left;
  width: 100%;
}

.editable-center {
  border: 0;
  background: transparent;
  text-align: center;
}

.editable-number {
  border: 0;
  background: transparent;
  text-align: left;
  width: 35px;
}

.editable-left:focus,
.editable-center:focus,
.editable-number:focus {
  outline: none;
}

.image-upload > input {
  display: none;
}

.image-upload > label > img {
  width: 100%;
}

.empty-block {
  text-align: center;
  margin: 50px 0%;
}

.block-items-count {
  text-align: left;
  color: grey;
  font-size: 17px;
  margin-left: 5px;
}

/* .smart-buttons:hover {
  color: blue;
  zoom: 140%;
} */

/*
Previous Styles
.kanban-block {
  width: 20rem;
  background: #f3f4f4;
  padding: 12px;
}

.kanban-board {
  display: flex;
  justify-content: space-around;
  margin: 2rem 1.5rem;
  width: 100rem;
  overflow: scroll;
}
*/
